{% extends 'base.html.twig' %}

{% block title %}Inscription au blog
{% endblock %}

{% block content %}
	<div class="inscription-container mb-8">
		<h2 class="h2 text-center my-8">Inscription</h2>
		{{ form(form) }}
	</div>
{% endblock %}
