{% extends 'base.html.twig' %}

{% block title %}Création d'article{% endblock %}

{% block content %}
    <div class="mb-8">
        <h3 class="text-gray-800 font-serif text-2xl pl-6 pt-6 font-bold">Création de votre article</h3>
        {{ form(form) }}
    </div>
{% endblock %}
