{% extends 'base.html.twig' %}

{% block title %}Création d'article{% endblock %}

{% block content %}
    <div class="mb-8">
        <h2 class="h2 text-center my-8">Création de votre article</h2>
        <div class="w-2/3 mx-auto">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
